.steps div:hover{
    background: rgb(147, 86, 220, 0.2);
}


.second_heart{
    color: transparent;
    transition:background 1000ms;
}
.second_heart:hover{
    background:-webkit-linear-gradient(top, rgb(147,86,220) , rgb(255, 121,218));
    -webkit-background-clip: text;  
}



