/*LOADER */

.block_loader{
    position: fixed;
    width:100%;
    height:100%;
    background: white;
    z-index: 1;
    animation: background_loader 10000ms;
    animation-fill-mode: forwards;
}
.loader{
    width:200px;
    height:200px;
    border-radius: 50%;
    border-top: 10px solid $color_primary;
    border-right: 10px solid $color_tertiary;
    border-left: 10px solid $color_tertiary;
    border-bottom: 10px solid $color_primary;
    position:fixed;
    margin:auto;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background: white;
    animation: spin 5000ms;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-fill-mode: forwards;
}

.loader p{
    font-family: font_title;
    font-size: 1.8em;
}

@keyframes background_loader{
    0%{
        opacity: 1;
    }

    99%{
        opacity:1;
    }
    100%{
        z-index: -2;
        opacity:0;
    }
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        opacity: 0;
        z-index: -2;
    }
}

/* HOMEPAGE */
.steps div:hover{
    background: rgb(147, 86, 220, 0.2);
}


.second_heart{
    color: transparent;
    background:-webkit-linear-gradient(top, rgb(147,86,220,1) , rgb(255, 121,218,1));
    -webkit-background-clip: text; 
    opacity: 0;
    transition: opacity 2s;

}
.second_heart:hover{
    opacity: 1;
}


/* MENU */

.delay1{
    opacity:0;
    animation: display_card 500ms ease-in-out 100ms forwards;
}

.delay2{
    opacity:0;
    animation: display_card 500ms ease-in-out 600ms forwards;
}

.delay3{
    opacity:0;
    animation: display_card 500ms ease-in-out 1100ms forwards;
}

.delay4{
    opacity: 0;
    animation: display_card 500ms ease-in-out 1600ms forwards;
}

@keyframes display_card {
    0%{
        opacity:0;
        transform: translateY(100px);
    }
    100%{
        opacity:1;
        transform: translateY(0px);
    }
}

.card_meal{
    &:hover .anim_validate {
    animation: validate_slide_left 400ms ease-in-out 10ms both;}

    &:hover .price_meal{
        animation: slide_price 400ms ease-in-out 10ms both;}
    
    &:hover .anim_validate i{
        animation: rotate_validate 400ms ease-in-out 10ms both;
    }

}



@keyframes validate_slide_left {
    0%{
        transform: translateX(0%)
    }

    100%{
        transform: translateX(-100%);
    }
}

@keyframes slide_price{
    0%{
        margin-right:0%;       
    }
    100%{
        margin-right: 20%;
    }
}

@keyframes rotate_validate{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}