@font-face {
    font-family: font_title;
    src: url("../Police/Title/Shrikhand-Regular.otf");
}

@font-face {
    font-family: font_text;
    src: url("../Police/Text/Roboto-Light.ttf");
}

@font-face {
    font-family: font_text_bold;
    src: url("../Police/Text/Roboto-Bold.ttf");
}

body, h1, h2, h3, h4, p{
    font-family: font_text;
    margin:0;
}

a{
    text-decoration: none;
    color: black;
}
h1, h2, h3, h4{
    font-family: font_text_bold;
}



$color_primary: #9356DC;

$color_secondary: #FF79DA;

$color_tertiary: #99E2D0;

$background_section:rgb(243, 239, 239);

img{
    object-fit: cover;
}

.button_style{
    border-radius: 2rem;
    background: linear-gradient(to right, $color_secondary, $color_primary);
    color: white;
    font-size: 1.1em;
    height:55px;
    width: 220px;
    border: none;

}

