header{
    display:flex;
    justify-content: center;
    align-items: center;
    height:80px;
    position: relative;
    max-width: 2000px;
    margin: auto;
}

header img{
    height:35px;
}

header i{
    position: absolute;
    left:3%;
    font-size: 1.8em;

}