
.image_menu{
    height:300px;
    width: 100%;
    margin: 0;
}

.image_menu img{
    height:100%;
    width: 100%;
}
.block_menu{
    background: $background_section;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    margin-top: -25px;
    z-index: 1;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:80px 1fr 1fr 1fr 125px;
    grid-template-areas: "en-tete_menu"
                          "starter"
                          "main_course"
                          "desserts"
                          "button";
    row-gap: 20px;
    padding-left:3%;
    padding-right: 3%;
    max-width:1400px;
}

.en-tete_menu{
    grid-area:en-tete_menu;
    position: relative;
    display: flex;
    align-items: center;
    

}

.en-tete_menu h2{
    font-family: font_title;
    font-size: 1.8em;
    margin-top:20px;
}

.heart_menu{
    position: absolute;
    right:3%;
    top:38%;
    font-size: 1.8em;
    color: grey;
    height: 100%;
}

.block_menu h3{
    font-family: font_text;
}
.starter_part{
    grid-area: starter;
}

.main_course{
    grid-area: main_course;
}

.desserts{
    grid-area: desserts;
}

.underline_title{
    background: $color_tertiary;
    height: 5px;
    width:2.5rem;
    margin-top: 3px;
    margin-bottom: 20px;
}

.card_meal{
    background: white;
    border-radius: 1rem;
    padding-left: 3%;
    margin-bottom: 20px;
    height:80px;
    position: relative;
    overflow: hidden;
  
}

.card_meal h4{
    font-size:1.1em;
    height: 50%;
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.description_meal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
    height: 50%;
    & p:first-child{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

}

.price_meal{
    font-weight: bold;
    width:20%;
    display: flex;
    justify-content: center;
}

.anim_validate{
    position: absolute;
    right: -20%;
    top:0%;
    width: 20%;
    height: 100%;
    background: $color_tertiary;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.anim_validate i{
    color: white;
    font-size: 1.5em;
}
.button_command{
    grid-area:button;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media (min-width:1125px){
    .image_menu{
        height:500px;
        width: 100%;
    }
    .block_menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:80px 1fr 125px;
    grid-template-areas: "en-tete_menu en-tete_menu en-tete_menu"
                          "starter main_course desserts"
                          "button button button";
    row-gap: 40px;
    column-gap: 3%;
    padding-left:5%;
    padding-right: 5%;
    margin:auto;
    top:-70px;
    border-radius: 3rem;

    }
}

@media (min-width:2000px){
    .image_menu{
        width:2000px;
        margin: auto;
    }

    .image_menu img{
        width:100%;
        height:100%;
        border-radius:1rem;
        
    }
}