@font-face {
  font-family: font_title;
  src: url("../Police/Title/Shrikhand-Regular.otf");
}
@font-face {
  font-family: font_text;
  src: url("../Police/Text/Roboto-Light.ttf");
}
@font-face {
  font-family: font_text_bold;
  src: url("../Police/Text/Roboto-Bold.ttf");
}
body, h1, h2, h3, h4, p {
  font-family: font_text;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

h1, h2, h3, h4 {
  font-family: font_text_bold;
}

img {
  object-fit: cover;
}

.button_style {
  border-radius: 2rem;
  background: linear-gradient(to right, #FF79DA, #9356DC);
  color: white;
  font-size: 1.1em;
  height: 55px;
  width: 220px;
  border: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  position: relative;
  max-width: 2000px;
  margin: auto;
}

header img {
  height: 35px;
}

header a {
  position: absolute;
  left: 3%;
  font-size: 1.8em;
}

.section_homepage {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 290px 450px auto;
  grid-template-areas: "location" "explore" "functionning" "restaurant";
  max-width: 1800px;
}

.block_location {
  grid-area: location;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dad6d6;
  font-weight: bold;
  font-size: 1.1em;
}

.block_location i {
  margin-right: 15px;
  font-size: 1.3rem;
}

.block_explore {
  grid-area: explore;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3efef;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

.block_explore p {
  margin-bottom: 35px;
}

.block_functionning {
  grid-area: functionning;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block_functionning h2 {
  padding-bottom: 25px;
}

.steps {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps div {
  display: flex;
  align-items: center;
  background: #f3efef;
  height: 90px;
  width: 80%;
  margin-bottom: 20px;
  border-radius: 1rem;
  font-family: font_text_bold;
}

.steps div p, .steps div i {
  margin-right: 7%;
}

.steps div i {
  color: grey;
}

.number_step {
  width: 20px;
  height: 20px;
  color: white;
  background: #9356DC;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7em;
  margin-left: -8px;
}

#step3 {
  background: rgba(147, 86, 220, 0.5);
}

.block_restaurant {
  grid-area: restaurant;
  background: #f3efef;
  padding-bottom: 40px;
  padding-top: 30px;
}

.block_restaurant h2 {
  padding-bottom: 20px;
  margin-left: 3%;
}

.restaurants {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "restaurant1" "restaurant2" "restaurant3" "restaurant4";
  margin-left: 5%;
  margin-right: 5%;
  row-gap: 20px;
}

.Palette_Gout {
  grid-area: restaurant1;
}

.Note_enchantee {
  grid-area: restaurant2;
}

.A_la_francaise {
  grid-area: restaurant3;
}

.Delice_des_sens {
  grid-area: restaurant4;
}

.restaurants a {
  height: 260px;
  position: relative;
}

.restaurants a img {
  width: 100%;
  height: 70%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.description_restaurant {
  position: relative;
  width: 100%;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background: white;
  margin-top: -3px;
  display: flex;
  height: 30%;
}

.title_restaurant {
  padding-top: 10px;
  margin-left: 4%;
}
.title_restaurant p {
  margin-top: 7px;
}

.heart {
  position: absolute;
  right: 2%;
  font-size: 1.5em;
  color: grey;
  height: 100%;
  display: flex;
  align-items: center;
}

.info_new {
  position: absolute;
  top: 5%;
  right: 2%;
  background: #99E2D0;
  border-radius: 0.2rem;
  font-size: 0.9em;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 4px;
  padding-bottom: 4px;
}

@media (min-width: 700px) {
  .section_homepage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 420px auto;
    row-gap: 20px;
    grid-template-areas: "location functionning" "explore functionning" "restaurant restaurant";
  }

  .block_explore {
    background: white;
    border-right: 5px #9356DC solid;
  }

  .block_functionning {
    position: relative;
  }

  .block_functionning h2 {
    position: absolute;
    top: 0%;
    height: 50px;
    width: 100%;
    background-color: rgba(243, 239, 239, 0.9);
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  }

  .steps {
    margin-top: 60px;
  }

  .block_location {
    background: rgba(243, 239, 239, 0.9);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    font-family: font_text_bold;
    font-size: 1.3em;
  }

  .restaurants {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "restaurant1 restaurant2" "restaurant3 restaurant4";
    margin-left: 5%;
    margin-right: 5%;
    row-gap: 30px;
    column-gap: 4%;
  }
}
@media (min-width: 1800px) {
  .section_homepage {
    margin: auto;
  }

  .block_location {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
  }

  .block_functionning h2 {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
  }

  .block_restaurant {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-bottom: 30px;
  }
}
.image_menu {
  height: 300px;
  width: 100%;
  margin: 0;
}

.image_menu img {
  height: 100%;
  width: 100%;
}

.block_menu {
  background: #f3efef;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  margin-top: -25px;
  z-index: 1;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr 1fr 1fr 125px;
  grid-template-areas: "en-tete_menu" "starter" "main_course" "desserts" "button";
  row-gap: 20px;
  padding-left: 3%;
  padding-right: 3%;
  max-width: 1400px;
}

.en-tete_menu {
  grid-area: en-tete_menu;
  position: relative;
  display: flex;
  align-items: center;
}

.en-tete_menu h2 {
  font-family: font_title;
  font-size: 1.8em;
  margin-top: 20px;
}

.heart_menu {
  position: absolute;
  right: 3%;
  top: 38%;
  font-size: 1.8em;
  color: grey;
  height: 100%;
}

.block_menu h3 {
  font-family: font_text;
}

.starter_part {
  grid-area: starter;
}

.main_course {
  grid-area: main_course;
}

.desserts {
  grid-area: desserts;
}

.underline_title {
  background: #99E2D0;
  height: 5px;
  width: 2.5rem;
  margin-top: 3px;
  margin-bottom: 20px;
}

.card_meal {
  background: white;
  border-radius: 1rem;
  padding-left: 3%;
  margin-bottom: 20px;
  height: 80px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 380px) {
  .card_meal {
    width: 90vw;
  }

  .en-tete_menu h2 {
    width: 75vw;
  }
}
.card_meal h4 {
  font-size: 1.1em;
  height: 50%;
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.description_meal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1em;
  height: 50%;
}
.description_meal p:first-child {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.price_meal {
  font-weight: bold;
  width: 20%;
  display: flex;
  justify-content: center;
}

.anim_validate {
  position: absolute;
  right: -20%;
  top: 0%;
  width: 20%;
  height: 100%;
  background: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.anim_validate i {
  color: white;
  font-size: 1.5em;
}

.button_command {
  grid-area: button;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1125px) {
  .image_menu {
    height: 500px;
    width: 100%;
  }

  .block_menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px 1fr 125px;
    grid-template-areas: "en-tete_menu en-tete_menu en-tete_menu" "starter main_course desserts" "button button button";
    row-gap: 40px;
    column-gap: 3%;
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
    top: -70px;
    border-radius: 3rem;
  }
}
@media (min-width: 2000px) {
  .image_menu {
    width: 2000px;
    margin: auto;
  }

  .image_menu img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
  }
}
footer img {
  height: 40px;
  width: 40px;
}

footer {
  background: #3d3d3d;
  display: flex;
  flex-direction: column;
  height: 275px;
}

footer a {
  display: flex;
  align-items: center;
  color: white;
  padding-left: 3%;
  height: 45px;
}
footer a i {
  margin-right: 10px;
}

footer a:first-child {
  font-family: font_title;
  font-size: 1.5em;
  padding-top: 10px;
}

/*LOADER */
.block_loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 1;
  animation: background_loader 3s;
  animation-fill-mode: forwards;
}

.loader {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-top: 10px solid #9356DC;
  border-right: 10px solid #99E2D0;
  border-left: 10px solid #99E2D0;
  border-bottom: 10px solid #9356DC;
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;
  animation: spin 2s;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-fill-mode: forwards;
}

.loader p {
  font-family: font_title;
  font-size: 1.8em;
}

@keyframes background_loader {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    z-index: -2;
    opacity: 0;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    z-index: -2;
  }
}
/* HOMEPAGE */
.steps div:hover {
  background: rgba(147, 86, 220, 0.2);
}

.second_heart {
  color: transparent;
  background: -webkit-linear-gradient(top, #9356dc, #ff79da);
  -webkit-background-clip: text;
  opacity: 0;
  transition: opacity 2s;
}

.second_heart:hover {
  opacity: 1;
}

/* MENU */
.delay1 {
  opacity: 0;
  animation: display_card 500ms ease-in-out 100ms forwards;
}

.delay2 {
  opacity: 0;
  animation: display_card 500ms ease-in-out 600ms forwards;
}

.delay3 {
  opacity: 0;
  animation: display_card 500ms ease-in-out 1100ms forwards;
}

.delay4 {
  opacity: 0;
  animation: display_card 500ms ease-in-out 1600ms forwards;
}

@keyframes display_card {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.card_meal:hover .anim_validate {
  animation: validate_slide_left 400ms ease-in-out 10ms both;
}
.card_meal:hover .price_meal {
  animation: slide_price 400ms ease-in-out 10ms both;
}
.card_meal:hover .anim_validate i {
  animation: rotate_validate 400ms ease-in-out 10ms both;
}

@keyframes validate_slide_left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slide_price {
  0% {
    margin-right: 0%;
  }
  100% {
    margin-right: 20%;
  }
}
@keyframes rotate_validate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
